{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}
<div class="card card-body">
  <h3>Edit Subject</h3>
  <form action="/subjects/{{subject.id}}?_method=PUT" method="post">
    <input type="hidden" name=_method value="PUT">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" class="form-control" name="code" value="{{subject.code}}">
    </div>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" class="form-control" name="type" value="{{subject.type}}">
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" value="{{subject.name}}">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" name="description">{{subject.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="name">Root folder link</label>
      <input type="text" class="form-control" name="folderLink" value="{{subject.folderLink}}">
    </div>
    <div class="form-group">
      <label for="name">Image</label>
      <input type="text" class="form-control" name="image" value="{{subject.image}}">
    </div>
   <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>