{{#each errors}}
<div class="alert alert-danger">{{text}}</div>
{{else}} {{/each}}
<div class="card card-body">
  <h3 class="bg-dark text-white text-center">Edit Notebook</h3>
  <form action="/lessons/{{lesson.id}}?_method=PUT" method="post">
    <input type="hidden" name=_method value="PUT">

    <div class="form-group">
 
      <label for="subject">Subject</label>
      <input id="subjectId" type="text" class="form-control" name="subject" value="{{lesson.subject}}">
      <select id="subjectOption" class="selectpicker" data-style="btn-info" onload="load()" title="Choose a subject" onchange="run()">
        <!--Call run() function-->
        <option value="MB">Marine Biology</option>
        <option value="GEO">Geology</option>
      </select>
      <script>
        function run() {
          document.getElementById("subjectId").value = document.getElementById("subjectOption").value;
        }
      </script>
      
   </div>
    <div class="form-group">
      <label for="semester">Semester</label>
      <input type="number" class="form-control" name="semester" value="{{lesson.semester}}">
    </div>
    <div class="form-group">
      <label for="lessonId">Notebook # </label>
      <input type="number" class="form-control" name="lessonId" value="{{lesson.lessonId}}">
    </div>
    <div class="form-group">
      <label for="title">Notebook Title</label>
      <input type="text" class="form-control" name="title" value="{{lesson.title}}">
    </div>
    <div class="form-group">
      <label for="description">Notebook Description</label>
      <textarea class="form-control" name="description">{{lesson.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="videoTitle">Video Title</label>
      <input type="text" class="form-control" name="videoTitle" value="{{lesson.videoTitle}}">
    </div>
    <div class="form-group">
      <label for="videoLink">Video URL</label>
      <input type="text" class="form-control" name="videoLink" value="{{lesson.videoLink}}">
    </div>
    <div class="form-group">
      <label for="careerTitle">Career Title</label>
      <input type="text" class="form-control" name="careerTitle" value="{{lesson.careerTitle}}">
    </div>
    <div class="form-group">
      <label for="careerLink">Career Link</label>
      <input type="text" class="form-control" name="careerLink" value="{{lesson.careerLink}}">
    </div>
    <div class="form-group">
      <label for="movieTitle">Movie Title</label>
      <input type="text" class="form-control" name="movieTitle" value="{{lesson.movieTitle}}">
    </div>
    <div class="form-group">
      <label for="movieLink">Movie Link</label>
      <input type="text" class="form-control" name="movieLink" value="{{lesson.movieLink}}">
    </div>
    <div class="form-group">
      <label for="documentLink">Root folder Link for notebook documents</label>
      <input type="text" class="form-control" name="documentLink" value="{{lesson.documentLink
      }}">
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" class="form-control" name="image" value="{{lesson.image}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>