<div class="dark">
  <div class="home-inner">
    <div class="container">
      <div class="col-lg-12 mt-5">

        {{#each lessons}}

        <div class="card bg-info text-center card-form mt-4">
          <div class="card-body">

            <h3 class="card-title">{{lessonId}}. {{title}}</h3>
            <p>{{description}}</p>
            <h3>Video</h3>
            <p>{{videoTitle}}</p>
            <p>{{videoLink}}</p>
            <h3>Career</h3>
            <p>{{careerTitle}}</p>
            <p>{{careerLink}}</p>
            <h3>Movie</h3>
            <p>{{movieTitle}}</p>
            <p>{{movieLink}}</p>
            <p>Notebook</p>
            <p>{{documentLink}}</p>
            <p>{{image}}</p>

          </div>
        </div>


        {{else}}
        <div class="alert bg-info text-light text-center">
          There are no lessons available for {{subject}} - Semester {{semester}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>